<div class="wrapper">

  <mt-header></mt-header>

  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">

    <!-- O mt-home foi removido para dar espaço ao router-outlet, pois é onde vc coloca o conteúdo dinâmico configurado nas rotas.
      <mt-home></mt-home>
    -->
    <router-outlet></router-outlet>

    </div>
  </div>

  <!-- snakbar deve ser aqui -->

  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
      </div>
      <strong>Meat</strong> Angular Application
    </div>
  </footer>
</div>
